fastapi
uvicorn[standard]

python-dotenv
pydantic-settings

groq
langchain
langchain-core
langchain-groq
langchain-google-genai
langchain-mongodb

chromadb

sentence-transformers==3.3.1
transformers

pymongo
motor
numpy

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu