fastapi
uvicorn[standard]

python-dotenv
pydantic-settings

groq

langchain
langchain-core
langchain-groq
langchain-google-genai
langchain-mongodb

chromadb==0.5.23

sentence-transformers==3.3.1
transformers==4.46.3

pymongo
motor
numpy

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu